@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    margin-left: 1rem;
    margin-right: 1rem;
}

*{
    color:darkslategrey
}

html{
    font-family: 'Raleway';
    font-size: 10px;
   
}
body{
    background-color: rgb(222, 223, 226);
}

.table{
    border-color: 1px solid lightgray ;
    border-collapse: collapse;
    border-radius: 6px;

}

.table tr:nth-child(even){
    background-color: #f2f2f2; 
    color: black
}

.table tr:nth-child(odd){
    background-color: rgba(223, 231, 235, 0.938); 
    color: white
}

.table td{
    
    border: 1px solid #ddd;
    padding: 3px;
    margin-left: 2rem;
    
}

.table th{
        border: 1px solid #ddd;
        padding: 10px;
        color:#f2f2f2;
        font-size: 1rem;
        background-color: rgb(29, 46, 68);
        text-align: center;
      }

#second-box-table{
    border-collapse: collapse;
    
}

#total-row{
    background-color: transparent;
    border-bottom: 3px solid darkslategray;
    height: 3rem;
    padding: 10px

}

#total-row td{
    font-weight:800;
    font-size: 1.5rem;
    padding: 10px


}

.navbar{
    
    box-shadow: 3px 3px 3px 1px rgb(105, 112, 128);
    background-color: rgb(97, 105, 124);
}

#cpi-tbl td{
    font-size: 1.5rem;
    margin-left: 15px;
    padding: 15px
}